.table {
    margin: 0 auto;
}

.text {
    font-size: 50px;
    color: #00324d;
}

.table2 {
    width: 500px;
}

.var {
    width: 500px;
    height: 70px;
}

/* Navbar */
.button{
    color: #00324d;
}

.navbutton:hover{
    color: aliceblue;
    background-color: #00324d;
}