.form {
    /* width: clamp(700px, 30%, 430px);
    margin: 0 auto;
    border-radius: 0.35rem;
    padding: 1.5rem; */

    width: clamp(700px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    margin-top: 150px;
}
